<div class="jumbotron blogs">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-6 col-sm-6">
      <h1>Blogs title</h1>
    </div>
  </div>
  <!-- </div>-->  
</div>

<div class="container">
<br>
    <div class="row">
      <div class="col-md-2 col-sm-2">
        <div class="list-group">
          <a href="#" class="list-group-item active" style="font-size:20px">
            University
          </a>
          <% Category.all.each do |category| %>
          <div class="list-group-item">
            <%= link_to category.name, blogs_path(category: category.name) %> <%= Blog.where(category_id: @category_id).count %>
          </div>
          <% end %> 
        </div>
      </div>
      <div class="col-md-10 col-sm-10">
        <% @blogs.each do |blog| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= image_tag blog.image, style:"max-width:100%" %>
            <div class="caption">
              <p><%= blog.created_at.strftime("%e %b %Y") %></p>
              <h4><b><%= blog.title %></b></h4>
              <p><%= truncate(blog.description, length: 150) %><br><i>By <%= blog.user.first_name %></i></p>
            </div>
            <p class="pad5 text-right">
              <% if current_user == blog.user %>
                <%= link_to 'Destroy', blog, style: "text-align:center", class: "linkbutton", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
              <%= link_to "Read more", blog, class:"btn btn-default" %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    
  <br>
</div>