<div class="containerprofile">
  <br>  
<div class="row">
  <div class="col-md-3 col-sm-4">
    <%= form_tag search_tutor_profiles_path, method: :get, class: "center" do %>
     <div class="searchbox">
        <div class="row">
          <div class="col-lg-10"  style="margin-top: 10px;">
            <%= label_tag t('Target University') %>
                              
             <ul class="styled-select">
             <%= select_tag :search_university, options_for_select(University.all.pluck(:name),(@tutor_profile.university rescue nil)), :include_blank => true, style: "width:80%;", class: "styled-select-box" %> <span class="glyphicon glyphicon-search" style="font-size:25px;color:#ea6779;margin-top:5px"></span>
             </ul>
          </div>
        </div>  
        <br>
        <div class="row">
          <div class="col-lg-10">
            <%= label_tag t('Tuition Subject') %>
             <ul class="styled-select">             
                <%= select_tag :search, options_for_select(@all_tutors.map {|tt| [tt.split.map{ |w| ['and','or','of'].include?(w) ? w : w.capitalize}.join(' '),tt]}.insert(0, [t('Subject'),nil])),  :style=>"width:100%;", class: "styled-select-box" %>                   
             </ul>            
          </div>
        </div>
        <br>
        
        <div class="row">
          <div class="col-lg-10"  style="margin-top: 10px;">
            <%= label_tag t('Location') %>            
            <%= select_tag :search_country, options_for_select([[t('Choose Country'),""]]+@countries.pluck(:name)), :class => "form-control", :onchange=>"get_country_set_city(this.value)" %>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-10" style="margin-top: 10px;">
            <div id="search_city_select">
              <%= select_tag :search_city, options_for_select([[t('Choose City'),""]]), :id => "e4", :class => "form-control" %>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-lg-10">
            <div onclick="open">
              <h5><%= t('University Admissions') %></h5>
            </div>
            <div id="universityAdmissionLevels">
              <!---------------University level---------------->
                <% Level.university_admission_levels.each do |ual| %>
                  <%= check_box_tag "level[]", ual %> <%= ual %><br>
                <% end %>
              <!---------------/University level---------------->
            </div>
            <div id="examPreparation">
              <h5><%= t('Exam Preparation') %></h5>
            </div>
            <div id="examPreparationLevel">
              <!---------------Exam Preparation---------------->
                <% Level.exam_preparation_levels.each do |epl| %>
                  <%= check_box_tag "level[]", epl %> <%= epl %><br>
                <% end %>
              <!---------------/Exam Preparation---------------->
            </div>
          </div>
        </div>
              
        <br>
        <div class="row">
          <div class="col-lg-10">
            <%= submit_tag t('Find Tutors'), :name => nil, :class => "btn btn-primary pull-right" %>
          </div>
        </div>
     </div>
    <% end %>
  </div>

  <!------------- Right Panel for search results------------>
  <% @all_profiles =  @tutor_profiles.collect{|tp|tp.id } %>

  <div class="col-md-9 col-sm-7">
    <% @tutor_profiles.each do |tutor_profile| %>
      <div class="profilebox">
         <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">         
            <div class="round-avatar" style = 'background-image: url(<%= tutor_profile.image.url(:small) rescue "/assets/default.jpg" %>); background-size: 120px; margin-left:auto; margin-right:auto;'></div>
           <center>
          <h4><%= "#{tutor_profile.user.first_name}" %></h4>
          <h4><%= [tutor_profile.country,tutor_profile.location_two].join(" | ") %></h4>
           </center>
          <% if tutor_profile.user==current_user %>
          <%= link_to t('Destroy'), tutor_profile, style: "text-align:center", class: "linkbutton", method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">       
          <h4>
           <div class="row">
                <div class="col-md-3">
                   <%= t('Tuition Subject') %>
                </div>
                <div class="col-md-9">
                   <%= tutor_profile.tutor_degree_subjects.first.degree_subject.capitalize unless tutor_profile.tutor_degree_subjects.blank?  %> (母语）| <%= tutor_profile.tutor_teaching_subjects.pluck(:teaching_subject).map { |ts| ts.capitalize}.join("| ") %>
                </div>
           </div>
             <br>
           <div class="row">
                <div class="col-md-3">
                   <%= t('Target University') %>
                </div>
                <div class="col-md-9">
                   <%= tutor_profile.university %>
                </div>
           </div>    
             <br>
           <div class="row">
                <div class="col-md-3">
                   Hobby
                </div>
                <div class="col-md-9">
                   <%= tutor_profile.hobby %>
                </div>
           </div>    
            <Br>
           <div class="row">
                <div class="col-md-3">
                   Contact Details
                </div>
              <% if tutor_profile.wechat.present? %> 
                <div class="col-md-3">            
                   <img src="http://7xkbd8.com1.z0.glb.clouddn.com/pageswebwxgetmsgimg%20(1).jpg" style="float:left" class="img-circle">&nbsp;&nbsp;<%= tutor_profile.wechat %></p1>
                </div>
              <% end %>
              <% if tutor_profile.line.present? %> 
                <div class="col-md-3">
                   <img src="http://7xkbd8.com1.z0.glb.clouddn.com/pageswebwxgetmsgimg%20(2).jpg" style="float:left" class="img-circle">&nbsp;&nbsp;<%= tutor_profile.line %>
                </div>
                <% end %>
              <% if tutor_profile.skype.present? %> 
                <div class="col-md-3">
                   <img src="http://7xkbd8.com1.z0.glb.clouddn.com/pageswebwxgetmsgimg.jpg" style="float:left" class="img-circle">&nbsp;&nbsp;<%= tutor_profile.skype %>
                </div>
              <% end %>
           </div>    
           </h4>          
        </div>                            
      </div>
     </div>
     <div class="row" style="background: #f5f5f5; margin-right: 10px; margin-left:1px; border-radius:5px;border-top: 2px solid #E5E5E5">
        <p style="font-size:18px;text-align:center;padding-top:5px">"<%= truncate(tutor_profile.about_myself, :length => 120) %>"</p>
     </div>
    <% end %>
    <div class="float-rht">
      <%= will_paginate @tutor_profiles, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
       
<br>

<br>
</div>

<style>
    .filter {
        color: black
    }
    .filter:hover {
        color: black
    }
</style>

<script>
  $(document).ready(function() { $("#e1").select2({placeholder: "Select subject", allowClear: true}); });
  $(document).ready(function() { $("#e2").select2({placeholder: "Select University", allowClear: true}); });
</script>

<script>
  function get_country_set_city(country_name){
    $.ajax({
      url: "<%= pages_get_country_set_city_path %>",
      method: "POST",
      data: {country_name : country_name},
      success:function(data){
        cities = data.cities
        options = '<option></option>'
        for(i=0;i<cities.length;i++){
          options = options + '<option value='+'"'+ cities[i]+'"' +'> ' + cities[i] + '</option>'
        }
        $("#search_city_select").html(
            '<select class="form-control" name="search_city" >'+
            options+
            '</select>'
        )
      }
    })
  }
</script>